body {
	background-color: #07081F;
}
.header{
	text-align: center;
}
h1{
	font-family: 'Source Sans Pro', sans-serif;
	color: #E80C7A;
	font-size: 10rem;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0px;
  line-height: 7rem;
}
h3{
	color: #E3B4FF;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 5rem;
	font-style: italic;
}
.name-box{
	margin-top: 2rem;
	text-align: center;
}
input.name{
	font-size: 3rem;

}
input.name:focus {
    outline-width: 0 !important;
}

.start-button{
	margin: 4rem;
	text-align: center;
}
a.button{
	transition: all 0.3s ease;
	color: #FFFAE7;
	background-color: #96B0CA;
	font-size: 3rem;
	display: block;
}
a.button:hover{
	background-color: black;
}
input:focus, textarea:focus {outline: none !important;}
input[type="text"], textarea {

  background-color : #11154C !important;
  outline: none !important;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
}
